[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<3.2"
djangorestframework = "<3.12.0"
markdown = "*"
django-filter = "*"
django-debug-toolbar = "*"
drf-nested-routers = "*"
mkdocs = "*"
djoser = "*"
django-cors-headers = "*"
pyyaml = "*"
uritemplate = "*"
django-allauth = "*"
django-rest-auth = "*"
dj-rest-auth = "*"
django-rest-framework-social-oauth2 = "*"
djangorestframework-csv = "*"

[dev-packages]

[requires]
python_version = "3.8"
