[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "<3.2"
djangorestframework = "<3.12.0"
Markdown = "*"
django-filter = "*"
django-debug-toolbar = "*"
drf-nested-routers = "*"
mkdocs = "*"
djoser = "*"
django-cors-headers = "*"
PyYAML = "*"
uritemplate = "*"
django-allauth = "*"
django-rest-auth = "*"
dj-rest-auth = "*"
django-rest-framework-social-oauth2 = "*"
djangorestframework-csv = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2-binary = "*"
psycopg2 = "*"
whitenoise = "*"
channels = "*"
reportlab = "*"
xhtml2pdf = "*"
html5lib = "*"
pyPdf = "*"
django-extensions = "*"
cairosvg = "*"
django-silk = "*"
celery = "*"
django-celery-results = "*"
redis = "*"
coverage = "*"
sentry-sdk = "*"
weasyprint = "==52.5"

[dev-packages]

[requires]
python_version = "3.8"
